.WrapperServiceBox{
    width: 100%;
    align-items: center;
}
.TitleStyleServiceBox{
  width: 100%;
  max-width: 100vw;
  padding: 40px 0;
  text-align: center;
  text-size-adjust: 100%;
  font-size: calc(10px + 1vw);
  line-height: 3vw;
  height: 15vh;
}
.SubtitleStyleServiceBox{
  width: 100%;
  max-width: 25vw;
  margin: 0 auto;
  text-align: justify;
  font-size: calc(8px + 1vw);
  
}
.imageServiceBox{
  width:100%;
  max-width: 50px;

}