.WrapperTopNavbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #f8f8ffc4;
  padding-top: 1%;
  padding-bottom: 1%;
}

.NavInnerTopNavbar {
  position: relative;
  height: 100%;
}
.UlWrapperTopNavbar {
  display: flex;
}

.dashboard {
  position: relative;
  justify-content: flex-end;
}
