.wrapperPrupose {
  width: 100%;
  padding-top: 20px;

}
.AdvertisingPrupose{
  margin: 80px 0;
  padding: 100px 0;
  position: relative;
}
.AddLeftPrupose{
width: 50%;
}
.pPrupose{
    max-width: 475px;
    font-size: calc(14px + 0.5vw);
    
  }
.AddRightInnerPrupose{
 width: 100%;
}

