<div
  class="account-section collapsable-panel clearfix membership-section-wrapper membership-section-with-button"
  data-uia="membership-section"
>
  <header class="account-section-header collapsable-section-toggle">
    <h2 class="account-section-heading">
      Membresía y facturación<button
        class="btn account-cancel-button btn-plain btn-small"
        type="button"
        autocomplete="off"
        tabindex="0"
        data-uia="action-cancel-plan"
      >
        <span>Cancelar membresía</span>
      </button>
    </h2>
  </header>
  <section class="collapsable-section-content account-section-content">
    <div class="account-subsection clearfix">
      <div class="clearfix">
        <div class="account-section-group">
          <div
            data-uia="account-email"
            class="account-section-item account-section-email"
          >
            patty_calderon_2@yahoo.com
          </div>
          <div
            data-uia="account-password"
            class="account-section-item account-section-item-disabled"
          >
            Contraseña:<!-- -->
            ********
          </div>
          <div
            data-uia="account-phone"
            class="account-section-item account-section-item-disabled"
          >
            Teléfono: 300 5585583
          </div>
        </div>
        <div class="account-section-group">
          <div class="account-section-item">
            <a
              data-uia="account-email-link"
              class="account-section-link"
              href="/email"
              >Cambiar email de cuenta</a
            >
          </div>
          <div class="account-section-item">
            <a
              data-uia="account-password-link"
              class="account-section-link"
              href="/password"
              >Cambiar contraseña</a
            >
          </div>
          <div class="account-section-item">
            <a
              data-uia="account-phone-link"
              class="account-section-link"
              href="/phonenumber"
              >Cambiar número de teléfono</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="account-subsection clearfix light-divider">
      <div data-uia="wallet-subsection">
        <div
          class="account-subsection-borderless clearfix"
          data-uia="account-subsection-standard"
        >
          <div class="account-section-group payment-details -wide">
            <div class="account-section-item">
              <div class="wallet--mop" data-uia="wallet-mop">
                <img
                  alt="VISA"
                  class="logoIcon VISA icon-payment-image"
                  data-uia="logoIcon-VISA"
                  src="https://assets.nflxext.com/ffe/siteui/acquisition/payment/svg/visa-v3.svg"
                /><span id="" class="mopType" data-uia="mopType"
                  >•••• •••• •••• 3762</span
                >
              </div>
            </div>
            <div
              id=""
              class="account-section-item"
              data-uia="nextBillingDate-item"
            >
              Tu próxima fecha de facturación es el 25 de noviembre de 2022.
            </div>
          </div>
          <div class="account-section-group -thin">
            <div class="account-section-item">
              <a
                class="account-section-link"
                data-uia="action-update-payment"
                href="/simplemember/managepaymentinfo"
                >Administrar información de pago</a
              >
            </div>
            <div class="account-section-item">
              <a
                class="account-section-link"
                data-uia="wallet-subsection-add-backup-mop-link"
                href="/simplemember/paymentpicker"
                >Agregar una forma de pago de respaldo</a
              >
            </div>
            <div class="account-section-item">
              <a
                class="account-section-link"
                data-uia="account-view-billing"
                href="/BillingActivity"
                >Información de facturación</a
              >
            </div>
            <div class="account-section-item">
              <a
                class="account-section-link"
                data-uia="action-update-billing-date"
                href="/simplemember/billingdateedit"
                >Cambiar día de facturación</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="account-subsection clearfix is-external-gift-redemption light-divider"
    >
      <div class="clearfix">
        <div class="u-ta-right-desktop gifts-link-group">
          <div class="account-section-item account-section-item">
            <a
              class="account-section-link"
              data-uia="action-redeem-link"
              href="/redeem"
              >Canjear tarjeta de regalo o código de promoción</a
            >
          </div>
          <div class="account-section-item account-section-item">
            <a
              class="account-section-link"
              data-uia="action-gift-cards-link"
              href="/gift-cards"
              target="_blank"
              rel="noopener noreferrer"
              >Dónde comprar tarjetas de regalo</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
