.content{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
}

.pagination{
    justify-content: center;
    display: flex;
}

.separator{
    padding: 2%;
}

.filters{
    margin: 0;
}

.products{
    padding: 1%;
    background-color: rgb(82, 104, 176);
    border-radius: 10px;
}
