html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  width: 100vw;
  height: 100vh;
  display: flex;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-align: center;
  text-decoration: none !important;
  color: #4630aa;
}
a:hover {
  color: #f0774a;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px ghostwhite inset; /* Change the color to your own background color */
  box-shadow: transparent;
}
body {
  background: ghostwhite;
  color: #231757;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 400;
  margin: 0px;
  height: 100%;
  width: 100%;
}
*{
  margin: 0px;
  padding: 0px;
}
html{
    height: 100%;
  width: 100%;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0% 5%;
}
@media only screen and (max-width: 859px) {
  .container {
    padding: 0 15px;
  }
}
.regular {
  font-weight: 400 !important;
}
.logoIcon{
  width: 15vw;
  height: 15vh;

}
.LogoPrupose{
  width: 30vw;

}
.titulo{
  font-size: 4vw;
  font-weight: 600;
  color: #231757;
  margin: 0 auto;
  padding: 0 0 0 0;
  margin-top: 2%;
  margin-bottom: 2%;  
}
.subtitulo{
  font-size: 2vw;
  font-weight: 600;
  color: #231757;
  margin: 0 auto;
  padding: 0 0 0 0;
  margin-top: 2%;
  margin-bottom: 2%;  
}
.tituloBlanco{
  font-size: calc(15px + 4vw);
  font-weight: 600;
  color: #FFF;
  margin: 0 auto;
  padding: 0 0 0 0;
  margin-top: 2%;
  margin-bottom: 2%;  
}
.semiBold {
  font-weight: 600 !important;
}
.extraBold {
  font-weight: 800 !important;
}

/* HELLPERS */
.textCenter {
  text-align: center;
}
.animate {
  transition: 0.3s ease;
}
.pointer {
  cursor: pointer;
}
.relative {
  position: relative;
}
.textCenter {
  text-align: center;
}
.textLeft {
  text-align: left;
}
.textRight {
  text-align: right;
}
.x100 {
  width: 100%;
}
.active {
  border-bottom: 2px solid #4630aa;
  color: #4630aa;
}
.tag {
  padding: 5px 10px;
  margin: 10px 0;
}
.shadow {
  box-shadow: 0 0 11px rgba(237, 232, 237, 0.5);
  -webkit-box-shadow: 0 0 11px rgba(237, 232, 237, 0.5);
  -moz-box-shadow: 0 0 11px rgba(237, 232, 237, 0.5);
}
/* FLEXBOX */
.flex {
  display: flex;
}
.flexPlan {
  margin: 5vw;
  width: 100%;
}
.flexSpaceCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plansText{
  font-size:calc(8px + 0.5vw);
}
.checkmark{
  width: 2vw;
}
.tituloPlan{
  font-size: calc(15px + 1vw);
}

.flexNullCenter {
  display: flex;
  align-items: center;
}
.flexColumn {
  flex-direction: column;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexSpaceNull {
  display: flex;
  justify-content: space-between;
}

/* FONT SIZES */
.font11 {
  font-size: 0.688rem;
}
.font12 {
  font-size: 0.75rem;
}
.font13 {
  font-size: 1.3vw;
  text-align: justify;
}
.font14 {
  font-size: 0.875rem;
}
.font15 {
  font-size: 0.938rem;
}
.font18 {
  font-size: 1.125rem;
}
.font20 {
  font-size: 1.25rem;
}
.font25 {
  font-size: 1.563rem;
}
.font30 {
  font-size: 1.875rem;
}
.font40 {
  font-size: 2.5rem;
}
.font60 {
  font-size: 3.75rem;
  line-height: 4.5rem;
}
@media only screen and (min-width: 860px){
.imgHome{
  width: calc(17vh + 15vw);
}
}

@media only screen and (min-width: 460px) and (max-width: 859px) {
  .imgHome{
    width: calc(10vh + 20vw);
  }
  .font11 {
    font-size: 0.688rem;
  }
  .font12 {
    font-size: 0.688rem;
  }
  .font13 {
    font-size: 0.75rem;
  }
  .font14 {
    font-size: 0.813rem;
  }
  .font15 {
    font-size: 0.813rem;
  }
  .font18 {
    font-size: 0.938rem;
  }
  .font20 {
    font-size: 1.125rem;
  }
  .font25 {
    font-size: 1.25rem;
  }
  .font30 {
    font-size: 1.5rem;
  }
  .font40 {
    font-size: 1.875rem;
  }
  .font60 {
    font-size: 2.8rem;
  }
  .desaparece {
    display: none;
  }
  
}

/* BORDER RADIUS */
.radius8 {
  border-radius: 1rem;
}

@media only screen and (min-width: 383px) and (max-width: 459px) {
  .desaparece2 {
    display: none;
  }
  .desaparece {
    display: none;
  }
  .font11 {
    font-size: 0.688rem;
  }
  .font12 {
    font-size: 0.688rem;
  }
  .font13 {
    font-size: 0.75rem;
  }
  .font14 {
    font-size: 0.813rem;
  }
  .font15 {
    font-size: 0.813rem;
  }
  .font18 {
    font-size: 0.938rem;
  }
  .font20 {
    font-size: 1.125rem;
  }
  .font25 {
    font-size: 1.25rem;
  }
  .font30 {
    font-size: 1.5rem;
  }
  .font40 {
    font-size: 1.875rem;
  }
  .font60 {
    font-size: 2.8rem;
  }
  .imgHome{
    width: calc(10vh + 20vw);
  }
}
@media only screen and (max-width: 382px){
  .imgHome{
    width: calc(10vh + 5vw);
  }
  .desaparece2 {
    display: none;
  }
  .desaparece {
    display: none;
  }
  .font11 {
    font-size: 0.688rem;
  }
  .font12 {
    font-size: 0.688rem;
  }
  .font13 {
    font-size: 0.75rem;
  }
  .font14 {
    font-size: 0.813rem;
  }
  .font15 {
    font-size: 0.813rem;
  }
  .font18 {
    font-size: 0.938rem;
  }
  .font20 {
    font-size: 1.125rem;
  }
  .font25 {
    font-size: 1.25rem;
  }
  .font30 {
    font-size: 1.5rem;
  }
  .font40 {
    font-size: 1.875rem;
  }
  .font60 {
    font-size: 2.8rem;
  }
}
.radius6 {
  border-radius: 0.6rem;
}
/* COLORS */
.darkColor {
  color: #231757;
}
.purpleColor {
  color: #4630aa;
}
.orangeColor {
  color: #f2b300;
}
.lightColor {
  color: #f5f5f5;
}
.coralColor {
  color: #c4ffff;
}
.greenColor {
  color: #49cb86;
}
.greyColor {
  color: #707070;
}
.whiteColor {
  color: ghostwhite;
}
/* BACKGROUNDS */
.darkBg {
  background-color: #231757;
}
.purpleBg {
  background-color: #4630aa;
}
.orangeBg {
  background-color: #f2b300;
}
.lightBg {
  background-color: #4630aa;
  color: whitesmoke;
  width: 100%;
  height: 100%;
}
.coralBg {
  background-color: #c4ffff;
}
.greenBg {
  background-color: #49cb86;
}
.greyBg {
  background-color: #707070;
}
.whiteBg {
  background-color: ghostwhite;
}

.google-visualization-controls-rangefilter-thumblabel{
  color:black !important;
  font-size: 14px !important;
}

.google-visualization-controls-slider-horizontal{
  border: none !important;
  width: 18vw !important;
  height: 1.2vh !important;   
}

.google-visualization-controls-slider-handle{
  background-color: #5745a8 !important;
}

.google-visualization-controls-slider-thumb{
  background-color: #4630aa !important;
  border: 1px solid #342283 !important;   
}

.google-visualization-controls-rangefilter{
  text-align: center;
}